# truncate your rails log every day
# Usage:
# `cp logrotate.conf.example /etc/logrotate.d/my_app_name`
/data/www/my_app_name/current/log/*.log {
  daily
  missingok
  rotate 7
  compress
  delaycompress
  notifempty
  copytruncate
  su ruby ruby
}
