@import 'activeadmin_addons/all';

@import "active_admin/mixins";

/* required for active admin */
$red: #B02B2C;
$green: #00897B;
$blue: #4bacfe;
$black: #36393D;
$grey: #76838f;

//@import "active_admin/base"; // stock theme, disabled
@import 'arctic_admin/base';

@import 'shared';

textarea{
  min-height: unset;
  height: unset;
}

$black: #323537;
$blue:#0062cc;
$darkblue: #004999;

#title_bar{
  background-color: #EFEFEF;
}

body,
.tabs,
{
  background-color: white !important;
}

.header #tabs li a{
  color: #333;
}

.header #tabs li.current a{
  font-weight: bold;
  color: #333;
}

a:not([class]) {
  color: $black;
  &:hover{
    text-decoration: underline;
  }
}

.action_items a{
  margin-top: 2px;
}

.table_actions a,
.action_items a,
input[type="submit"],
{
  background-color: $blue !important;
  color: white;

  &:hover{
    text-decoration: none !important;
  }
}

thead th:first-child{
  text-align: center;
}

input[type='checkbox']{
  -webkit-appearance: checkbox !important;
  &:checked{
    background-color: white;
  }
}

thead tr{
  background-color: $blue;
  color: white;
  a{
    color: white;
  }
}

button.show-filters{
  background-color: $blue;
  color: #fff;
  border: none;
  border-radius: 3px;
  display: inline-block;
  transition: border 0.2s linear, color 0.2s linear, width 0.2s linear, background-color 0.2s linear;
  cursor: pointer;
  padding: 4px 8px;
}

#title_bar #titlebar_right .action_item a{
  padding: 4px 8px;
}

#active_admin_content form .actions .action input[type="submit"]{
  line-height: 35px;
}

thead th,
tbody tr td,
{
  font-size: 14px;
}

.download_links{
  margin-top: 15px;

  span{
    padding-right: 5px;
  }
}

#sidebar::before{
  display: none;
}

th.col a{
  color: white;
}

body.index .table_actions .member_link{
  padding: 5px 10px;
  margin: 0 2px;
}

form#session_new{
  .actions{
    text-align: center;
  }
}

#login{
  a{
    margin-top: 30px;
    display:block;
    text-align: center;
  }

  .actions li{
    width: 100%;
    text-align: center;
  }
}

#footer{
  text-align: center;
}

#utility_nav li.menu_item:not(:last-child){
  margin-left: 15px;
}

.flash_notice{
  background-color: #28A745;
}

.flash{
  position: static !important;
  margin-bottom: 15px;
}


table#index_table_site_settings td.col-setting{
  min-width: 25%;
  text-align: center;
}
