//@import "actiontext";
@import "./utility";

/* Allow vertical scrolling on toggle nav */
/* https://stackoverflow.com/questions/48833789/scrolling-in-sticky-top-navbar-bootstrap-4 */
.navbar.fixed-top{
  overflow-y: scroll;
  -webkit-overflow-scrolling:touch; // mobile safari
  max-height: 90vh;
}
